.slab-container-p{
    
    background: linear-gradient(-65deg,#5964f9,#71fdf6);
    border-radius: 30px;
    display: flex;
    max-width: 90%;
    min-height: 300px;
    margin: 85px auto;
    padding:30px;
    justify-content: center;
    align-items: space-between;
    cursor: pointer;
}

.slabs-col-p{
    font-size: 20px;
    flex-basis: 48%;
    color: #212121;
    width: 50%;
}

.slabs-col-p h4{
    color: rgb(24, 24, 24);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:20%;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slabs-col-p p{
    margin: 20px;
    margin-top: 10px;
}

.slabs-col-p h3{
    text-align: left;
    margin-left: 25px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slabs-col-p button{
    margin-left: 20px;
}